a{
    text-decoration: none;
    color: inherit;
}

.bannerBase{
    width: 100%;
    height: 70vh;
    z-index: -1;
}

.bannerColor{
    height: 100%;
    background-image: url('/banner.gif');
    background-size: cover;
    display: flex;
    overflow: hidden;

}

.perfil{
    z-index: 0;
    overflow-y: hidden;
    min-width: 60vh;
    min-height: 20vh;

   
}

.flexCol{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.title{
    font-size: 60px;
    font-weight:bolder;
    color: white;
    align-self: center;
    margin-left: 7%;
    margin-right: 2%;
}

.subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    align-self: start;
    margin-left: 10%;

}


.box{
    padding: 2px;
    transition: 05s;
    animation: grow .8s infinite alternate ;

}

.box:hover{
    color:white;
}

.boxPurple{
    color: rgba(119, 29, 119, 0.8);
    

}

.boxBlue{
    color: rgb(100, 165, 240);
  
} 

.flexRow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.button{
    vertical-align: center;
    width: 40vh;
    height: 5vh;
    margin: 10px;
    border-radius: 40px;
    border-color: white;
    background: linear-gradient(90deg, rgb(52, 9, 63) 0%, rgba(68, 24, 56, 0.676) 35%, rgb(136, 29, 109) 100%);
    color: white;
    transition: 1s;
    position: relative;
}


.button:hover{
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(198, 133, 252) 0%, rgba(153, 20, 118, 0.676) 35%, rgb(247, 101, 210) 100%);

    
}

.icons{
    height: 32px;
    width: 32px;
    margin: 10px;
    text-decoration: none;
    transition: .2s ease-in-out;

    
}

.icons:hover{
    fill: white;
    height: 38px;
    width: 38px;
}

@keyframes grow{
    0%{
        opacity: 50%;
    }
}




@media screen and (max-width:1000px){

    .perfil{
        display: none;
    }

    .bannerColor{
        justify-content: start;
        flex-direction: column-reverse;
    }

    .flexCol{
        justify-content: start;  
    }

    .flexrow{
        justify-content: start;
       margin-left: 10%;
    }


    .subtitle{
        font-size: 25px;
    }
    
}

@media screen and (max-width:800px){

   .title{
    font-size: 50px;
   }


    .subtitle{
        font-size: 25px;
    }

    .button{
        width: 30vh;
        height: 3vh;
    }
    
}

